body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #f3f3f3;
}


main {
    padding: 2em;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Esto asegura que la imagen se ajuste correctamente al tamaño especificado, sin distorsionarse */
}

form {
    margin: 2em 0;
}

/* Estilos para los contenedores de los campos del formulario */
.form-row {
    display: flex;
    justify-content: space-between;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Espacio entre cada campo del formulario */
}

.form-field label {
    margin-bottom: 10px; /* Espacio entre la etiqueta y el campo de entrada */
}

/* Estilos para los campos de entrada y los desplegables */
input[type="number"], select {
    width: 100%; /* Se ajusta al contenedor .form-field */
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Contenedor general para los checkboxes */
.checkboxes-container {
    display: flex;
    justify-content: space-between; /* Esto separa los fieldset uniformemente */
    flex-wrap: wrap; /* Permite que los fieldset se envuelvan en pantallas más pequeñas */
    gap: 20px; /* Añade un poco de espacio entre los fieldset */
}

/* Estilos para cada fieldset de checkboxes */
.checkboxes-fieldset {
    width: calc(40% - 10px); /* Ajusta el ancho para dos fieldsets por fila, considerando el gap */
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

/* Estilos para la leyenda de cada fieldset */
.checkboxes-fieldset legend {
    padding: 0 5px;
    font-size: 1em;
    font-weight: bold;
}

/* Estilos para organizar los checkboxes en columnas dentro de cada fieldset */
.multi-column {
    display: flex;
    justify-content: space-between;
}

.checkbox-column {
    display: flex;
    flex-direction: column;
}

/* Estilos para las etiquetas de los checkboxes, para alinear el texto con el checkbox */
.checkboxes label {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Espacio entre checkboxes */
}

/* Ajuste opcional: hacer los checkboxes un poco más grandes para facilitar la interacción */
input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 5px;
}

@media (max-width: 768px) {
    .checkboxes-container {
        flex-direction: column;
    }
    .checkboxes-fieldset {
        width: 100%; /* Los fieldset ocupan todo el ancho en pantallas pequeñas */
    }
}
